{% extends 'base.html' %}
{% block home %}
    <main class="bg-light">

        {% include 'base/map_site.html' %}

        <div class="page-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 my-3 wow fadeInUp">
                        <div class="card-page">
                            <div class="row row-beam-md">
                                <div class="col-md-4 text-center py-3 py-md-2">
                                    <i class="mai-location-outline h3"></i>
                                    <p class="fg-primary fw-medium fs-vlarge">Location</p>
                                    <p class="mb-0">{{ address }}</p>
                                </div>
                                <div class="col-md-4 text-center py-3 py-md-2">
                                    <i class="mai-call-outline h3"></i>
                                    <p class="fg-primary fw-medium fs-vlarge">Contact</p>
                                    {% for phone in phones %}
                                        <p class="mb-{{ forloop.counter1 }}">{{ phone }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-md-4 text-center py-3 py-md-2">
                                    <i class="mai-mail-open-outline h3"></i>
                                    <p class="fg-primary fw-medium fs-vlarge">Email</p>
                                    {% for email in emails %}
                                        <p class="mb-{{ forloop.counter0 }}">{{ email }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'contacts/contact_form.html' %}
                    {% include 'contacts/maps.html' %}
                </div>
            </div>
        </div>

    </main> <!-- .bg-light -->
{% endblock %}
{% block bottom_scripts %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>
{% endblock %}