{% load static %}
<nav class="navbar navbar-expand-lg navbar-light navbar-floating">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'favicon.png' %}" alt="" width="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-lg-5 mt-3 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_page' %}">About</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Blog</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item active" href="#">All posts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts_page' %}">Contact</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login_page' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin_page' %}">Sign In</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_page' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <div class="ml-auto my-2 my-lg-0">
                <button class="btn btn-dark rounded-pill">Download Now</button>
            </div>
        </div>
    </div>
</nav>

