{% load static %}
<div class="page-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
                <div class="img-place client-img">
                    <img src="{% static 'img/clients/alter_sport.png' %}" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
                <div class="img-place client-img">
                    <img src="{% static 'img/clients/cleaning_service.png' %}" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
                <div class="img-place client-img">
                    <img src="{% static 'img/clients/creative_photo.png' %}" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 py-3 wow zoomIn">
                <div class="img-place client-img">
                    <img src="{% static 'img/clients/global_tv.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div> <!-- End clients -->