{% load static %}
<div class="page-hero-section bg-image hero-home-1" style="background-image: url({% static 'img/bg_hero_1.svg' %});">
    <div class="hero-caption pt-5">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-lg-6 wow fadeInUp">
                    <div class="badge mb-2"><span class="icon mr-1"><span class="mai-globe"></span></span> #2 Editor
                        Choice App
                        of 2020
                    </div>
                    <h1 class="mb-4">Manage your Finance easier</h1>
                    <p class="mb-4">Mobster has features to view and manage <br>
                        our finances, such as transfer, and statistics.</p>
                    <a href="#" class="btn btn-primary rounded-pill">Get App Now</a>
                </div>
                <div class="col-lg-6 d-none d-lg-block wow zoomIn">
                    <div class="img-place mobile-preview shadow floating-animate">
                        <img src="{% static 'img/app_preview_1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
