{% load static %}
<div class="page-section bg-image" style="background-image: url({% static 'img/pattern_2.svg' %});">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0 wow fadeInUp">
                <h1 class="mb-4">Pricing Plan</h1>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores inventore maxime
                    ipsa
                    eligendi quibusdam velit maiores adipisci odit, exercitationem cumque iusto at debitis
                    reiciendis a, ipsum
                    aliquam reprehenderit. Sed, delectus.</p>
                <a href="#" class="btn btn-gradient btn-split-icon rounded-pill">
                    <span class="icon mai-call-outline"></span> Custom Plan
                </a>
            </div>
            <div class="col-lg-7">
                <div class="pricing-table">
                    <div class="pricing-item active wow zoomIn">
                        <div class="pricing-header">
                            <h5>Business Plan</h5>
                            <h1 class="fw-normal">$49.00</h1>
                        </div>
                        <div class="pricing-body">
                            <ul class="theme-list">
                                <li class="list-item">Push Notification</li>
                                <li class="list-item">Unlimited Bandwith</li>
                                <li class="list-item">Realtime Database</li>
                                <li class="list-item">Monthly Backup</li>
                                <li class="list-item">24/7 Support</li>
                            </ul>
                        </div>
                        <button class="btn btn-dark">Choose Plan</button>
                    </div>
                    <div class="pricing-item wow zoomIn" data-wow-delay="200ms">
                        <div class="pricing-header">
                            <h5>Starter Plan</h5>
                            <h1 class="fw-normal">$24.00</h1>
                        </div>
                        <div class="pricing-body">
                            <ul class="theme-list">
                                <li class="list-item">Push Notification</li>
                                <li class="list-item">Unlimited Bandwith</li>
                                <li class="list-item">Realtime Database</li>
                                <li class="list-item">Monthly Backup</li>
                                <li class="list-item">24/7 Support</li>
                            </ul>
                        </div>
                        <button class="btn btn-dark">Choose Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>