{% extends 'base.html' %}
{% block user %}
    <main class="bg-light">
        <div class="page-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 my-3 wow fadeInUp">
                        <div class="card-page">
                            <h3 class="fw-normal">Create new account</h3>

                            <form action="{% url 'signin_page' %}" method="post" autocomplete="off">
                                {% csrf_token %}
                                {% for input in form %}
                                    <div class="form-group">
                                        <label for="{{ input.name }}"
                                               class="fw-medium fg-grey">{{ input.label }}</label>
                                        {{ input }}
                                        {% if input.errors %}
                                            <ul>
                                                {% for error in input.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <input type="submit" value="Sign In">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}